fastapi[standard]==0.141.1
httpx==0.28.1
pydantic-settings==2.15.0








































































// Copyrigtht (c) 2025 Citizen Hackathon https://github.com/POLLESSI/Citizenhackathon2025.API. All rights reserved.